AZURE_OPENAI_API_KEY=<YOUR AZURE OPENAI KET>
AZURE_OPENAI_ENDPOINT=<YOUR AZURE OPENAI ENDPOINT GOES HERE> Example: https://aoai-service-somevalue.openai.azure.com/
AZURE_OPENAI_API_VERSION=<YOUR API VERSION GOES HERE> Example: 2024-08-01-preview
OPENAI_API_VERSION=<YOUR API VERSION GOES HERE> Example: 2024-08-01-preview
AZURE_OPENAI_DEPLOYMENT_NAME=<YOUR DEPLOYMENT NAME GOES HERE> Example: gpt-4o 
STORAGE_ACCOUNT_NAME=<YOUR STG ACCT NAME> Example: stgmytest
STORAGE_ACCOUNT_KEY=<YOUR STG ACCT KEY>
FORM_RECOGNIZER_ENDPOINT=<YOUR FORM RECOGNIZER ENDPOINT> Example: ttps://your-doc-intelligence-service.cognitiveservices.azure.com/
FORM_RECOGNIZER_KEY=<YOUR FORM RECOGNIZER KEY>
AZURE_SEARCH_ENDPOINT=<YOUR AI SEARCH ENDPOINT > Example: https://your-search.search.windows.net/
AZURE_SEARCH_KEY=<YOUR AI SEARCH KEY>
AZURE_SEARCH_INDEX=<YOUR AI SEARCH INDEX NAME> Example: your-index
AZURE_SEARCH_API_VERSION=2020-06-30