AZURE_OPENAI_API_KEY=<YOUR AZURE OPENAI KET>
AZURE_OPENAI_ENDPOINT=<YOUR AZURE OPENAI ENDPOINT GOES HERE> Example: https://aoai-service-somevalue.openai.azure.com/
AZURE_OPENAI_API_VERSION=<YOUR API VERSION GOES HERE> Example: 2024-08-01-preview
OPENAI_API_VERSION=<YOUR API VERSION GOES HERE> Example: 2024-08-01-preview
AZURE_OPENAI_DEPLOYMENT_NAME=<YOUR DEPLOYMENT NAME GOES HERE> Example: gpt-4o 